{% macro render_meta(page) %}
    {% if page.title %}
    <div class="article-title">
        {% if page.path != current_path %}
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">{{ page.title }}</a>
        {% else %}
        {{ page.title }}
        {% endif %}
    </div>
    {% endif %}

    {% if not page.extra.hide_authors or not page.extra.hide_date %}
    <div class="article-extra-meta">
        {% if not page.extra.hide_authors %}
        {% set authors = get_taxonomy(kind = "authors") %}
        {% if page.taxonomies.authors and authors | length > 0 %}
        <div class="article-authors">
            {% for author in page.taxonomies.authors %}
            <span class="author"><a href="{{ get_taxonomy_url(kind = "authors", name = author) | safe }}" title="View all content authored by {{ author }}">{{ author }}</a></span>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if not page.extra.hide_date %}
        <div class="article-date">
            {{ page.date | date(format="%A, %B %e, %Y") }}
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% set tags = get_taxonomy(kind = "tags") %}
    {% set current_tags = page.taxonomies | get(key="tags", default=[]) %}
    {% if current_tags | length > 0 %}
    <div class="article-tags">
        {% set tags_url = tags.permalink | safe %}
        <a class="tags-link" href="{{ tags_url | safe }}" title="View all tags">☁️</a>
        {% for tag in current_tags %}
        <span class="tag"><a href="{{ get_taxonomy_url(kind = "tags", name = tag) | safe }}" title="View all content tagged as {{ tag }}">#{{ tag }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_article(page) %}
<div class="article">
    {{ self::render_meta(page=page) }}
    <div class="article-content">
        {% if page.toc and page.extra.toc %}
        <h1>On This Page...</h1>
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ page.content | safe }}
    </div>
</div>
{% endmacro %}

{% macro render_collection(page) %}
<div class="article">
    {{ self::render_meta(page=page) }}
    <div class="article-content">
        {% set collection = get_section(path="posts/_index.md") %}
        {% for year, pages in collection.pages | group_by (attribute = "year") %}
        <div class="collection-listing">
            <h2 class="collection-year">
                {{ year }}
            </h2>
            {% for page in pages %}
            <div class="collection-item">
                <div class="collection-item-date">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </div>
                <div class="collection-item-title">
                    <a href="{{ page.permalink | safe }}" title="{{ page.title }}">{{ page.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_collection_navigator(paginator) %}
<div class="nav">
    <div class="newer">
        {% if paginator.previous %}
        <a href="{{ paginator.previous | safe }}" title="Newer">↑ newer</a>
        {% else %}
        ↑ newer
        {% endif %}
    </div>
    <div class="older">
        {% if paginator.next %}
        <a href="{{ paginator.next | safe }}" title="Older">↓ older</a>
        {% else %}
        ↓ older
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_article_navigator(page) %}
<div class="nav">
    <div class="newer">
        {% if page.lower %}
        <a href="{{ page.lower.permalink | safe }}" title="{{ page.lower.title }}">↑ newer</a>
        {% else %}
        ↑ newer
        {% endif %}
    </div>
    <div class="older">
        {% if page.higher %}
        <a href="{{ page.higher.permalink | safe }}" title="{{ page.higher.title }}">↓ older</a>
        {% else %}
        ↓ older
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_toolbar(config) %}
    {% set has_pinned_links = config.extra.pinned_links is defined and config.extra.pinned_links | length > 0 %}
    {% if has_pinned_links %}
    <div class="toolbar">
        {% for item in config.extra.pinned_links %}
        <div class="toolbar-item">
            <a href="{{ item.href | default(value="") }}" title="{{ item.title | default(value="") }}">
                <div class="toolbar-item-content">
                    <div class="toolbar-item-icon">{{ item.icon | default(value="") }}</div>
                    <div class="toolbar-item-text">{{ item.title | default(value="") }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
